/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&zephyr_udc0 {
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};

/ {
	aliases {
	};
	zephyr,user {
		ili9341-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>,	/* CS PIN 32 mmod */
						<&gpio2 11 GPIO_ACTIVE_HIGH>,	/* DC PIN 9 mmod */
						<&gpio3 22 GPIO_ACTIVE_HIGH>,	/* RST Pin 31 */
						<&gpio1 30 GPIO_ACTIVE_LOW>;	/* touch cs Pin 26 */

	};
	
	chosen {
		//uart,passthrough = &lpuart4; // Teensy pins 7(RX) 8(TX)
		//spi,ili9341 = &lpspi4;

	};
};

&lpuart4 {
	current-speed = <115200>;
	status = "okay";
};

&pinctrl {

	/* LPSPI4 MISO, MOSI, SCK, CS on Teensy-Pins 12/11/13/10 */
	pinmux_lpspi4: pinmux_lpspi4 {
		group0 {
			pinmux = <&iomuxc_gpio_b0_03_lpspi4_sck>,
				<&iomuxc_gpio_b0_01_lpspi4_sdi>,
				<&iomuxc_gpio_b0_02_lpspi4_sdo>;
			drive-strength = "r0-6";
			slew-rate = "fast";
			nxp,speed = "100-mhz";
		};
	};
};

&lpspi4 {
	transfer-delay = <2>;
	status = "okay";	
	pinctrl-0 = <&pinmux_lpspi4>;
	pcs-sck-delay= <2>;
	sck-pcs-delay= <2>;
	pinctrl-names = "default";

	cs-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	ili9341_spi_dev: ili9341_spi_dev@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

};