# VIDEO resolution settings

# Copyright (c) 2024 Charles Dias <charlesdias.cd@outlook.com>
# SPDX-License-Identifier: Apache-2.0

mainmenu "Video capture to LVGL sample application"

menu "Video capture configuration"

config VIDEO_FRAME_WIDTH
	int "Define the width of the video"
	default 320

config VIDEO_FRAME_HEIGHT
	int "Define the height of the video"
	default 240

config VIDEO_SOURCE_CROP_WIDTH
	int "Define the crop width of the video"
	default 0

config VIDEO_SOURCE_CROP_HEIGHT
	int "Define the crop height of the video"
	default 0

config VIDEO_SOURCE_CROP_WIDTH
	int "Define the crop width of the video"
	default 0

config VIDEO_SOURCE_CROP_HEIGHT
	int "Define the crop height of the video"
	default 0

config VIDEO_SOURCE_CROP_TOP
	int "Define the crop top edge of the video"
	default 0

config VIDEO_SOURCE_CROP_LEFT
	int "Define the crop left of the video"
	default 0

config VIDEO_HFLIP
	bool "Horizontal flip"
	default n

config VIDEO_VFLIP
	bool "Vertical flip"
	default n

config  USB_DEVICE_MANUFACTURER
	string "USB device sample manufacturer string"
	default "Zephyr Project"
	help
	  USB device Nanufacturer string.

config  USB_DEVICE_PRODUCT
	string "USB device sample product string"
	default "USBD sample"
	help
	  USB device product stringa.

config  USB_DEVICE_PID
	hex "USB device Product ID"
	default 0x0001
	help
	  USB device sample Product ID.

config  USB_DEVICE_VID
	hex "USB device sample Product ID"
	default 0x0001
	help
	  USB device sample Product ID.


endmenu

source "Kconfig.zephyr"
